

<div id="wrapper" #wrapper>
  <div #buildZone id="buildZone">
    <canvas id="canvas" #canvas></canvas>
    <div id="controls">
      <button id="square" (click)="drowRectangle()">Rect</button>
      <button id="circle" (click)="drowCirle()">Circle</button>
      <button id="triangle" (click)="drowTriangle()">Triangle</button>
      <button id="triangle" (click)="drawTickMark()">Tic Mark</button>
      <button id="triangle" (click)="drawCrossMark()">Cross Mark</button>
      <button id="triangle" (click)="drawQuesMark()">Question Mark</button>
      <button id="clear" (click)="clearCanvas()">Clear</button>
    </div>
  </div>
  <div id="styleZone" #styleZone></div>
</div>

