<div id="wrapper" #wrapper>
  <div #buildZone id="buildZone">
    <span (click)="cords.x = $event.x;cords.y = $event.y" [class.border]="selectedId">
      <canvas id="canvas" #canvas></canvas>

    </span>
    <div id="controls">
      <button *ngFor="let item of shapesBtns" (click)="getSelectedButton(item.id)">{{item.name}}</button>
      <button id="clear" (click)="clearCanvas()">Clear</button>
    </div>
  </div>
  <span *ngIf="selectedId">Mouse Activated.{{cords | json }}</span>
  <div id="styleZone" #styleZone></div>
</div>

