<div id="wrapper" #wrapper>
  <div #buildZone id="buildZone">
    <span (click)="cords.x = $event.x;cords.y = $event.y" [class.border]="selectedId">
      <canvas id="canvas" #canvas></canvas>

    </span>
    <div id="controls">
      <button *ngFor="let item of shapesBtns" [disabled]="item.id == selectedId" (click)="selectedId = item.id" >{{item.name}}</button>
      <button type="button" (click)="selectedId = 0">Clear</button>
    </div>
  </div>
  <span *ngIf="selectedId">Mouse Activated.{{cords | json }}</span>
  <div id="styleZone" #styleZone></div>
</div>

